<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>one tone.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E1E2B30873FC78E63077970694FA80ED656C66BD</string>
				<key>dateExpires</key>
				<string>16/02/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y77WSNS5PP.com.appiqo.one-tone</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Y77WSNS5PP</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>Y77WSNS5PP.com.appiqo.one-tone</string>
				</array>
			</dict>
			<key>name</key>
			<string>one tone.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d8ae29e7-9eca-4dc8-8ffd-90fc0d16b491</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.appiqo.one-tone</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y77WSNS5PP</string>
				<key>name</key>
				<string>Mohammed Ahmed Alabdrabalnabi</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
